.modal-fullscreen{
  background: transparent;
}
.modal-fullscreen .modal-content{
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen{
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in{
  opacity: .97;
  filter: alpha(opacity=97);
}

.modal-fullscreen .modal-dialog{
  margin: 0;
  margin-right: auto;
}
@media (min-width: 768px){
  .modal-fullscreen .modal-dialog{
    width: 750px;
  }
}
@media (min-width: 1200px){
  .modal-fullscreen .modal-dialog{
    width: 1170px;
  }
}
